.inputWrapper {
  display: block;

  margin: 0 auto;
  margin-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .inputWrapper {
    width: 40%;
  }
}
.inputWrapper > input {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  font-size: 20px;
}
