.container{
  padding: 0,15px;
  width: 320px;
  margin: 0 auto;
}
@media  screen and (min-width:768px) {
  .container{
    width: 768px;
  }
  
}
@media  screen and (min-width:1250px) {
  .container{
    width: 1250px;
  }
  
}
.lock{
  overflow: hidden;
  
}